/** font-family: 'Roboto', sans-serif /**/
/** <i class="fa-solid fa-house"></i> /**/
/** <i class="fa-solid fa-bars"></i> /**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body {
    margin: 0;
    background-color: black;
    position: relative;
    padding-bottom: 3em;
    min-width: 100vw;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;  
}
/*HEADER SUPERIOR*/
.headerSuperior {
    background: gray;
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    width: 240px;
}
/** BARRA NAV /**/
.contenedorMenu{
    width: 100%;
    height: 55px;
    background: #C1282D;
    padding:0px 20px;
}
.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav {
    height: 100%;
}
nav ul {
    height: 100%;
    display: flex;
}
nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}
nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    transition: all .3s ease;
}
nav ul li a:hover {
    transform: scale(1.1);
    background: rgb(224, 90, 90);
    box-shadow: 0px 0px 10px 0px rgba (0.0.0.0.5);
    border-radius: 5px;
    color: black;
}

/** ELEMENTOS RESPONSIVOS **/
.iconMenu{
    font-size: 30px;
    color: white;
    cursor: pointer;  
    display:none; 
}
#checkMenu {
    display: none;
}
#labelCheck {
    display: none;
}
@media screen and (max-width: 720px){
    .headerSuperior {
        padding: 60px;
    }
    .logo img{
        width: 150px;
    }
    nav ul {
        flex-direction: column;
        background-color: #C1282D;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 500px;
        z-index: 100;
        visibility:hidden;
        font-size: 8px;
    }
    .iconMenu {
        display:flex;
        align-items: center;
    }
     #checkMenu:checked ~ nav ul {
        height: 500px;
        visibility: visible;
     }
     #labelCheck {
        display: flex;
     }                
}
section {
    padding:  150px;
    color: white;
    text-justify: auto;
}

footer {
    background-color:gray;
    align-items: center;
    width: 100%;
    padding: 3em 0 ;
    text-align: center ;
    position: fixed;
    bottom: 0;
}
.logoFooter {
    padding: 25px;
}



